# Local Netlify folder
.netlify

# Environment variables - NEVER commit this
.env

# Dependencies
node_modules

# Local test data
dashboard/history.json"dashboard/history.json" 
"dashboard/status.json" 
